go 1.26

use (
	.
	./adapter/grpc
	./adapter/pgx
	./adapter/redis
	./examples/grpc-stream-reconnect
	./examples/pgx-pool
	./observer/otel
	./observer/prometheus
	./observer/slog
	./source/file
	./source/http
	examples/redis-cache-fallback
)
