go 1.26

use (
	.
	./adapter/aws
	./adapter/grpc
	./adapter/io
	./adapter/kafka
	./adapter/mongo
	./adapter/nats
	./adapter/net
	./adapter/pgx
	./adapter/rabbitmq
	./adapter/redis
	./cmd/chaotic-points
	./examples/aws-dynamodb-retry
	./examples/grpc-stream-reconnect
	./examples/kafka-write-retry
	./examples/mongo-read-fallback
	./examples/nats-request-retry
	./examples/net-conn-drop
	./examples/pgx-pool
	./examples/rabbitmq-publish-retry
	./examples/redis-cache-fallback
	./examples/slow-body-read
	./examples/terms-dsl
	./observer/otel
	./observer/prometheus
	./observer/slog
	./source/file
	./source/http
)
